<h2 class="text-center"><%= place.city %></h2>
<p type="button" class="btn btn-success text-center"><%= link_to "#{place.title}", "/places/#{place.id}", class:"text-decoration-none text-white" %></p>
