<div class = "container">
<h1>One Day Trip</h1>

<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>

<div class="cards">
  <% @places.each do |city| %>
 <%= link_to city do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.backwoodshome.com/bhm/wp-content/uploads/2015/12/architecture-buildings-city-373893.jpg)">
      <%= city[:city] %>
    </div>
    <% end %>
  <% end %>
