<div id="<%= dom_id experience %>">
  <p>
    <strong>User:</strong>
    <%= experience.user_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= experience.place_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= experience.rating %>
  </p>

</div>
