<h1>Editing experience</h1>

<%= render "form", experience: @experience %>

<br>

<div>
  <%= link_to "Show this experience", @experience %> |
  <%= link_to "Back to experiences", experiences_path %>
</div>
